@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";

@theme {
  --color-main-black: #141414;
  --color-main-red: #e50000;
  --color-secondary-black: #1a1a1a;
  --color-main-red: #e50000;
  --container-custom:   
;
}

.container {
  @apply container m-auto lg:px-3 px-5;
}

button {
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: #1a1a1a;
  width: 16px;
  height: 4px;
  opacity: 1;
  margin: 0 6px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #e50000;
  width: 23px;
  height: 4px;
  transform: scale(1.2);
}
