@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";

@theme {
  --color-main-black: #141414;
  --color-main-red: #e50000;
  --color-secondary-black: #1a1a1a;
  --color-main-red: #e50000;
  --container-custom:  
;
}

.container {
  @apply container m-auto lg:px-3 px-5;
}

button {
  cursor: pointer;
}
